{% extends 'base.html.twig' %}

{% block title %}New Meno{% endblock %}

{% block body %}
    <h1>Create new Meno</h1>

    {{ include('meno/_form.html.twig') }}

    <a href="{{ path('meno_index') }}">back to list</a>
{% endblock %}
